body {
  font-family: 'Roboto Mono', monospace ;
  background-color: #323437;
  color: whitesmoke;
  user-select: none;
}

h1 {
  color: #d1d0c5;
  padding: 30px 20px 20px 350px;
  margin: 0px;
  user-select: none;        /*テキストカーソルを消す*/
  font-weight: normal;      /*boldを消す*/
}

#flatpickr {
  background-color: #323437;
  color: #d1d0c5;
  margin: 50px 50px;
  font-family: 'Roboto Mono';
  border-radius: 0;
  border: none;
  outline: none;
  width: 170px;
  user-select: none;
  transition: 0.25s ease-in-out;
  position: relative;
  border-bottom: 2px solid #d1d0c5;
}

#flatpickr:hover {
  color: #e2b714;
  border-bottom: 2px solid #e2b714;
}

.flatpickr-day.selected{
  background: #e2b714;
  border-color:#323437;
}

.flatpickr-day.selected:hover{
  background: #e2b714;
  border-color:white;
}





/* .material-symbols-outlined {
  margin: 40px;
  font-size: 100px;
  } */
