body {
  font-family: 'Roboto Mono', monospace ;
  background-color: #323437;
  color: #d1d0c5;
  user-select: none;
  font-size: 20px;
}

h1 {
  color: #d1d0c5;
  padding: 30px 20px 20px 350px;
  margin: 0px;
  user-select: none;        /*テキストカーソルを消す*/
  font-weight: normal;      /*boldを消す*/
}

input, select {
  border: none;
  border-radius: 0;
  background-color: #323437;
  font-family: inherit;
  border-bottom: 2px solid #d1d0c5;
  color: #d1d0c5;
  outline: none;
  font-size: 20px;
}

#flatpickr {
  margin: 80px 200px;
  width: 200px;
  user-select: none;
  transition: 0.25s ease-in-out;
  position: relative;
}
/* カレンダーの選択した時の〇を黄色にする */
.flatpickr-day.selected {
  background: #e2b714;
}

.flatpickr-day.selected:hover {
  background: #e2b714;
  border-color:white;
}

#input-wpm {
  user-select: none;
  border-bottom: 2px solid #d1d0c5;
  width: 100px;
  text-align: center;
}

/* number型のinputに出る上下矢印を削除する */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

#select-time {
  margin: 50px;
}

/* hover処理 */
#flatpickr:hover, #input-wpm:hover, 
#select-time:hover { 
  color: #e2b714;
  border-bottom: 2px solid #e2b714;
}

#label-wpm:hover {
  color: #e2b714;
}

#submit-button {
  width: 90px;
  height: 40px;
  color: #d1d0c5;
  background-color: #977a10;
  font-family: inherit;
  border-radius: 5px;
}

#submit-button:hover {
  background-color: #a1851d;
}

.btn-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

#chart-js {
  position: relative;
  width:600px;
}

#table {
  padding-left: 100px;
}

#display {
  justify-content: space-around;
  display: flex;
}

tr {
  text-align: center;
}

td {
  padding: 0% 30px;
}
/* googleマテリアルアイコンの設定 */
/* .material-symbols-outlined {
  margin: 40px;
  font-size: 100px;
  } */
