body {
  font-family: 'Roboto Mono', monospace ;
  background-color: #323437;
  color: whitesmoke;
  user-select: none;
}

h1 {
  color: #d1d0c5;
  padding: 30px 20px 20px 350px;
  margin: 0px;
  user-select: none;        /*テキストカーソルを消す*/
  font-weight: normal;      /*boldを消す*/
}

#flatpickr {
  background-color: #323437;
  color: #d1d0c5;
  margin: 50px 50px;
  font-family: 'Roboto Mono';
  border-radius: 0;
  border: none;
  outline: none;
}


/* .material-symbols-outlined {
  margin: 40px;
  font-size: 100px;
  } */